{% extends "base.html.twig" %}

{% block title 'Inventory' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    <h2 class="mb-3">Inventaire</h2>

    <div>
        <p>Exportation  des données</p>
    </div>

{% endblock %}