{% extends "base.html.twig" %}

{% block title 'Se connecter' %}

{% block body %}

    <div class="container mt-4">

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messagedata, 'security ') }}
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="post" accept-charset="UTF-8">

            <input type="hidden" name="action" value="users/login">

            <div class="form-group">
                <h3><label for="username">Nom d'utilisateur</label></h3>
                <input id="username" type="text" name="_username" class="form-control" value={{ last_username }}>
            </div>

            <div class="form-group">
                <h3><label for="password">Mot de passe</label></h3>
                <input id="password" type="password" name="_password" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Se connecter</button>

        </form>
    </div>
    

{% endblock %}