{% extends "base.html.twig" %}

{% block title 'Labo L2N' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Labo L2N</h1>
    <p>Page d'accueille</p>
</div>

<div class="container">

    <div class="row flex">
    
    </div>

</div>
{% endblock %}