{% extends "base.html.twig" %}

{% block title 'Labo L2N' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Labo L2N</h1>
    <p>C'est la fete au vilage</p>
</div>

<div class="container">

    <h2>Test</h2>
    <div class="row flex">
    
    </div>

</div>
{% endblock %}