{% extends "base.html.twig" %}

{% block title 'Qr code scanner' %}

{% block body %}

<div class="container-fluid">

<div class="col-xl-11 col-lg-11">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Qr Code scanner</h6>
    </div>
    <div class="card-body">
      <div class="text-center">
          <div id="loadingMessage">🎥 Pas d'accès à la camera  (Vérifier que votre camera est bien activé)</div>
            <canvas id="canvas" hidden></canvas>
            <div id="output" hidden>
              <div id="outputMessage">Pas de QrCode detecté</div>
              <div hidden><span id="outputData"></span></div>

      </div>
    </div>
  </div>
</div>

</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}

{{ encore_entry_script_tags('scan') }}


{% endblock %}