{% extends "base.html.twig" %}

{% block title 'Création de nouveau produit' %}

{% block body %}

	<div class="container mt-4">

		<h1>Créer un produit</h1>
		{{ include('admin/product/_form.html.twig', {form: form, button: 'Créer'}) }}

	</div>

	<a href="{{ path('admin.hazardStatement.index') }}" class="btn btn-secondary">Annuler</a>


{% endblock %}
