{% extends "base.html.twig" %}

{% block title 'Création pictogramme' %}

{% block body %}

	<div class="container mt-4">

		<h1>Créer un pictogramme</h1>
		{{ include('productmanager/pictogram/_form.html.twig', {form: form, button: 'Créer'}) }}

	</div>


{% endblock %}
