@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';  
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2.scss';  
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/dist/css/bootstrap.min.css';
