{% extends "base.html.twig" %}

{% block title 'Product list' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Labo L2N</h1>
    <p>C'est la fete au produit</p>
</div>

<div class="container">

    
    <h2>Liste des produits</h2>
    <div class="row flex">
    {% for product in products %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">{{ product.frenchName }}</a>
                    </h5>
                    <p class="card-text">{{ product.id }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}