{% extends "base.html.twig" %}

{% block title 'Editer Poubelle' %}

{% block body %}

	<div class="container mt-4">

		<h1>Editer la poubelle</h1>
		{{ include('productmanager/trashCan/_form.html.twig', {form: form, button: 'Editer'}) }}

	</div>


{% endblock %}
