{% extends "base.html.twig" %}

{% block title 'Création poubelle' %}

{% block body %}

	<div class="container mt-4">

		<h1>Créer une poubelle</h1>
		{{ include('productmanager/trashCan/_form.html.twig', {form: form, button: 'Créer'}) }}

	</div>


{% endblock %}
