{% extends "base.html.twig" %}

{% block title 'Création produit' %}

{% block body %}

	<div class="container mt-4">

		<h1>Créer un produit</h1>
		{{ include('productmanager/product/_form.html.twig', {form: form, button: 'Créer'}) }}

	</div>


{% endblock %}
