{% extends "base.html.twig" %}

{% block title 'Ajouter une solution' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    {# Import recipe #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-danger">{% trans %}Informations{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">
                    <p>{% trans %}You are about to add a new solution. If you haven't already, consider creating the recipe to which your solution is associated.{% endtrans %}</p>
                    <a href="{{ path('recipe.new') }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-outline-danger shadow-sm">{% trans %}New recipe{% endtrans %}</a>
                    <p></p>
                    <p>{% trans %}You can also create a solution without a recipe if you feel it is not necessary. In this case you just need not to choose a recipe in the "recipe" tab below.{% endtrans %}</p>
                </div>

            </div>
        </div>
    </div>

    {{ include('mix/_form.html.twig', {form: form, button: 'Save'}) }}

{% endblock %}

