{% extends "base.html.twig" %}

{% block title 'Editer GHS' %}

{% block body %}

	<div class="container mt-4">

		<h1>Editer les mentions de danger GHS</h1>
		{{ include('productmanager/product/_form.html.twig', {form: form, button: 'Editer'}) }}

	</div>


{% endblock %}
