{% extends "base.html.twig" %}

{% block title 'Editer GHS' %}

{% block body %}

	<div class="container mt-4">

		<h1>{% trans %}Edit GHS Hazard Statements{% endtrans %}</h1>
		{{ include('productmanager/hazardStatement/_form.html.twig', {form: form, button: 'Edit'}) }}

	</div>


{% endblock %}
