{% extends "base.html.twig" %}

{% block title 'Création de mention GHS' %}

{% block body %}

	<div class="container mt-4">

		<h1>{% trans %}Create a GHS hazard statement{% endtrans %}</h1>
		{{ include('productmanager/hazardStatement/_form.html.twig', {form: form, button: 'Create'}) }}

	</div>


{% endblock %}
